#demographic_questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.demographic_question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
}

#send_button_div {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pairs {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

#pairs > .solution, #equal {
    max-width: 33%;
    border: solid #84ceeb;
    border-radius: 12px;
}

#button {
    margin: 10px;
    display: flex;
    justify-content: center;
}

#send_button {
    display: flex;
    justify-content: center;
}

#equal {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#info > h1 {
    text-align: center;
}

#instruction, #info, #greatings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.solution {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    /*max-height: 80%;*/
}

#img_div {
    max-height: 65%;
    max-width: 75%;
}

img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}
