#propositions {
    display: flex;
    justify-content: space-around;
    /*display: inline-block;
    text-align: center;*/
}

.propositions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.common {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.criteria_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.criteria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
}

#demographic_questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.demographic_question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
}

#send_button_div {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
